@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary-color: #1B60F2;
    --secondary-color: #f2ae1b;
    --background-color: #ffffff;
    --text-color: #212121;
    /*Base color, color1, color2, color3*/
    --border-radius: 8px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    color: var(--text-color);

}

body {
    padding : 1em;
    background: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;
}

nav li:first-child{
    margin-right: auto;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

nav a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

header, section{
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}


.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img{
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container {
    flex: 0 1 34 em;
}

h1{
    font-size: 2.5rem;
}

.text-container p{
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.cta-button {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: .5em;
    font-weight: 600;
    /*transition: background-color 0.3s ease;*/
}


.secondary{
    background-color: var(--secondary-color);
}

section{
    padding: 3em min(2em, 15%);
    background-color: var(--primary-color);
    text-align: center;
}

h2{
    font-size: 2rem;
}

section p{
    margin-top: 1em;
    font-size: 1.25rem;
}

section#my-work{
    background-color: var(--secondary-color);
}

.grid-container{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
    gap: 1em;
}

.grid-container img{
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}

.grid-container img:hover{
    scale: 1.05;
}

details{
    margin-top: 1em;
    background-color: var(--background-color);
    border-radius: 1em;
}

details summary{
    padding: 1em;
    font-weight: 1.7rem;
    font-family: Roboto, sans-serif;
}

details p{
    padding: 0 2em 2em 2em;
}

footer{
    padding-bottom: 1.5em;
    text-align:center;
}

footer a{
    margin: 0 1em;
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover{
    text-decoration: underline;
}

@media(max-width: 988px){
    header{
        text-align: center;

    }
    header .text-container{
        padding-top: 0;
    }

}

@media(max-width: 640px){
    nav li{
        display: none;
    }
    nav li:first-child, nav li:last-child{
        display: block;
    }

    header{
        margin-top: 0;
    }

    .cta-button{
        margin-top: .5em;
        width: 100%;
    }

    .grid-container{
        display:flex;
        flex-direction:column;
    }

    .text-container p{
        font-size: 1rem;
    }

    h2{
        font-size: 1.5rem;
    }
}